<main>
    <div class="px-4 py-3 my-4 text-center">
        <h1 class="display-5 fw-bold">Shopping Project</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Maktabkhooneh nodejs Course</p>
        </div>
      </div>